body{
    background-color: black;
    color: white;
    font-family: Helvetica;
}

button:hover{
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}